.content {
  max-width: 0;
  min-height: 100vh;
  max-height: 100vh;

  overflow: hidden;
  padding-top: 35px;
  background-color: white;

  position: absolute;
  top: 0;
  z-index: 1;
  transition: all ease 0.5s;
}

.burgerCheck:checked ~ .content {
  overflow-y: auto;
  max-width: 25vmax;
}

.burgerCheck {
  display: none;
}

.burger {
  position: relative;
  z-index: 10;
  cursor: pointer;
}