.messageItem {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  padding: 10px;
  margin: 10px 0;
}

.reverseOrder{
  display: flex;
  flex-direction: column-reverse;
}

.messageListContainer{

  box-sizing: border-box;
  padding: 0 10px;
  background-color: white;

  max-height: 100vh;

  max-width: 800px;
  width: 100%;

  border: 1px solid grey;
  overflow-y: auto;
}

.container {
  display: flex;
  flex-direction: column-reverse;

}

.inputWrapper {
  min-width: 100%;
  min-height: 50px;
  background-color: white;
}