.container{
  background-color: white;
  box-sizing: border-box;
  flex-basis: 12%;
}

.itemContainer{
  cursor: pointer;
  min-height: 30px;
  padding: 10px;
  min-width: 80px;
  vertical-align: middle;
  text-align:center;
  &:hover{
    background-color: lightgrey;
  }
}

.selectedItemContainer{
  background-color: lightgrey;
}